<span id="todo-count">
  <strong>{{activeCount}}</strong> {{activeWord}} left
</span>
{{#if completedCount}}
  <button id="clear-completed">
    Clear completed ({{completedCount}})
  </button>
{{/if}}
